@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
  height: 100%;
}

body {
    background: #E0E0E0;
    font-family: 'Open Sans', sans-serif;
}

/*Navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.icon {
    width: 15px;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.active {
    background-color: #04AA6D;
}