@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    background: #E0E0E0;
    font-family: 'Open Sans', sans-serif;
}
header {
  text-align: center;
  font-size: 3vw;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.icon {
    width: 15px;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.active {
    background-color: #04AA6D;
}
section {
  display: -webkit-flex;
  display: flex;
}
figure {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  align-items: center;
}
.foot {
  text-align: center;
}
iframe {
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(1) invert(1);
}
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
}
.misc {
  display: flex;
}
.logo {
  padding: 10px;
  width: 25%;
}
.cover {
  width: 100%;
}
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}